/**
 * login css file used to style the login screen.
 */
 
body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 66%;
	padding: 0;
}

.form-signin {
	max-width: 430px;
	padding: 15px;
	margin: 0 auto;
}

.login-container {
	max-width: 450px;
}

.panel-heading {
	text-align: center;
}

.panel-heading h2 {
	padding: 0px;
	margin: 0px;
}

.input-group-lg:first {
	padding-top: 0;
}

.input-group-lg {
	padding-top: 10px;
}

.password-control {
	margin-top: 15px;
}

.submit-control {
	margin-top: 15px;
}
	